#wrapper{
    background-color: #114b5f;
   
    width: 900px;
    position: relative;
    margin:0 auto 0 auto;
}
header{
    float: left;
    width: 875px;
    height: 100px;
    background-color: #114b5f;
    color: #88d498;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    padding: 50px 0px 5px 25px;
    color: #88d498;


}
nav{
    float: left;
    width: 875px;
    height: 30px;
    background-color:#88d498;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    padding: 17px 0 3px 25px;
}
article{
    float: left;
    width: 650px;
    background-color: #114b5f;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 21px;
    color: #CCC;
    padding: 25px 25px 25px 25px;
}
aside{
    float: left;
    width: 170px;
    background-color: #4b6654;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #CCC;
    padding: 25px 15px 10px 15px;
    line-height: 16px;
}
#footer{
    clear: both;
    width: 875px;
    height: 30px;
    background-color: #88d498;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #333;
    padding: 20px 0 0 25px;
}
h1, h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
}
nav a{
    color: #000;
    text-decoration: none;
}
nav a:hover{
    color: #919191;
    text-decoration:underline;
}
a{
    color: #1a936f;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
    
}
form {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;

}